[Unit]
Description=RRDCached
After=network.target

[Service]
Restart=always
User=root
ExecStartPre=/usr/bin/install -d -m 0775 {{ librenms_rrdcached_journal }} 
ExecStart=/usr/bin/rrdcached -s {{ apache_group }} \
    -l {{ librenms_rrdcached_socket }} \
    -p {{ librenms_rrdcached_pidfile }} \
    -j {{ librenms_rrdcached_journal }} \
    -b /opt/librenms/rrd/ -B \
    -g -w {{ librenms_rrdcached_wtimeout }} -z {{ librenms_rrdcached_delay }} -f {{ librenms_rrdcached_ftimeout }}

[Install]
WantedBy=multi-user.target
